* {
  margin: 0;
  padding: 0;
}
body {
  font-family: cursive;
  font-size: 1.1rem;
  line-height: 1.6;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.condainer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 100%;
  display: grid;
  margin: 2rem auto;
}
input {
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  border: none;
}
.btn {
  background-color: #bbb;
}
.btn:hover {
  background-color: #888;
  color: white;
  font-weight: bold;
}
.output {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}
.output-item {
  background-color: rgba(90, 67, 194, 0.349);
  padding: 10px;
  width: 80%;
  margin: 5px 10%;
}
.close-btn {
  float: right;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.801);
  text-decoration: none;
  padding: 3px;
}
.link {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(29, 3, 143, 0.671);
  padding: 3px;
}
@media (max-width: 500px) {
  input {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  input {
    width: 60%;
  }
  .output-item {
    width: 50%;
    margin-left: 20%;
  }
}
